<ion-list *ngIf="_contacServices.contacts.length > 0">
  <ion-item (click)="getToDetails(i)" *ngFor="let contact of _contacServices?.contacts;let i = index">
    <ion-avatar slot="start">
      <img src="/assets/CTO_serv_background.jpg">
    </ion-avatar>
    <ion-label>
      <h2>{{contact?.firstName}} {{contact?.lastName}}</h2>
      <ion-text>
        <p>{{contact?.number}}</p>
      </ion-text>
      <ion-buttons slot="end">
        <button ion-button fill=“clear” clear (click) ="delectContact(i)"  >
         <ion-icon name="trash"></ion-icon>
       </button>
      </ion-buttons>
    </ion-label>
  </ion-item>
</ion-list>

<div *ngIf="_contacServices.contacts.length == 0">
  <h2>No contact found</h2>
</div>